---
layout: page
title: lordudun
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">SOFTWARE DEVELOPER &#38; AGILE ADVOCATE</h1>
          <p class="animated fadeInUp">I enjoy writing code, and I develop every line of code like a craftsman is creating a new unique piece.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
          </div>
          <p>Me llamo Oriol del Barrio,&nbsp;<strong>lordudun</strong> en la red, actualmente vivo en Barcelona, Catalunya, Spain.
          Soy licenciado en Ingeniería Informática en la&nbsp;<a title="Facultat d'Informatica de Barcelona" href="http://www.fib.upc.es/">FIB (Facultad de Informatica de Barcelona)</a>, en el Campus Nord de la UPC y he cursado el <a href="http://www.beslasalle.net/portal/masters/masters-product-pma-barcelona">PMA:&nbsp;Postgrado en Métodos Ágiles para el desarrollo de productos</a> en La Salle.
          Actualmente trabajo <a href="https://www.typeform.com/">Typeform</a> como Scrum Master, me apasiona el software y desde mi primera línea de código me siento desarrollador. Guardo especial buen recuerdo de proyectos como el sistema de acreditación de Fira de Barcelona/MWC y del producto de identidad digital de <a href="http://biid.com">biid (Your MobileID)</a>.
          He sido Borinot, <a title="Castellers de Sants" href="http://www.borinots.cat/">Castellers de Sants</a>, durante 10 años, actualmente ya no participo activamente, pero se me siguien poninedo los pelos de punta al escuchar las gralles.
          He formado parte de la organización de <a title="Fiberparty" href="http://www.fiberparty.org/">Fiberparty</a>, la lanparty de Barcelona organizada por&nbsp;alumnos&nbsp;de la FIB. También he participado en la organización de la <a href="http://cas2014.agile-spain.org">CAS 2014</a> (Conferencia Agile Spain)
          Soy miembro activo de las comunidades <a href="http://agile-spain.org">Agile Spain</a>, <a title="Agile Barcelona" href="http://agile-barcelona.org/">Agile Barcelona</a> y <a href="http://www.meetup.com/Barcelona-Software-Craftsmanship/">Software Craftmanship Barcelona</a> y colaborador del programa radiofónico <a href="http://www.territorimac.com/">Territorimac</a>, sobre el mundo mac.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>

<!-- Personal Content Start -->
<section id="service">
  <div class="container">
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="http://es.linkedin.com/in/orioldelbarrio/en">
            <i class="fa fa-linkedin"></i>
            <h4>Professional Profile</h4>
          </a>
          <p>Detailed information about my experience, skills …</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="http://www.slideshare.net/lordudun">
            <i class="fa fa-slideshare"></i>
            <h4>Slides</h4>
          </a>
          <p>Slides, presentations and sessions that I did in the past</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="https://github.com/orioldelb">
            <i class="fa fa-github"></i>
            <h4>Code Katas</h4>
          </a>
          <p>Public repositories in Github with some code katas</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="https://bitbucket.org/lordudun">
            <i class="fa fa-bitbucket"></i>
            <h4>Open Source</h4>
          </a>
          <p>Public repositories with some code katas and open source projects</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="http://www.territorimac.com/?s=oriol+del+barrio">
            <i class="fa fa-volume-off"></i>
            <h4>Territorimac</h4>
          </a>
          <p>Collaborations in Territorimac, radio program about mac and Apple world</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="https://www.youtube.com/playlist?list=PL98KIGK9HazrnJAoA2wpvs0vx51m0rJRe">
            <i class="fa fa-youtube"></i>
            <h4>Talks</h4>
          </a>
          <p>Recorded talks, presentations I did in conferences </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer for site info -->
<section id="site-info-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h6>Oriol del Barrio</h6>
        <div class="textwidget">Software Developer and Agile Advocate. I enjoy writing code, and I develop every line of code like a craftsman is creating a new unique piece.
        </br>
          <ul class="social-footer">
        		<li>
        			<a href="https://profiles.google.com/orioldelb"><i class="fa fa-google-plus"></i></a>
        		</li>
        		<li>
        			<a href="http://www.twitter.com/lordudun"><i class="fa fa-twitter"></i></a>
        		</li>
        		<li>
        			<a href="http://es.linkedin.com/in/orioldelbarrio/en"><i class="fa fa-linkedin"></i></a>
        		</li>
            <li>
        			<a href="https://www.instagram.com/orioldelb"><i class="fa fa-instagram"></i></a>
        		</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 category-widget">
        <h6>Categories</h6>
        <ul>
          {% assign tags_list = site.categories %}
            {% if tags_list.first[0] == null %}
              {% for tag in tags_list %}
                <li><a href="#{{ tag }}">{{ tag | capitalize }}</a></li>
              {% endfor %}
            {% else %}
              {% for tag in tags_list %}
                <li><a href="#{{ tag[0] }}">{{ tag[0] | capitalize }}</a></li>
              {% endfor %}
            {% endif %}
          {% assign tags_list = nil %}
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="widget-title">License</h6>
        <div class="textwidget">This site is under Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License:
          <p></p>
          <p>
            <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en" rel="license"><img style="border-width: 0;" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" alt="Licencia de Creative Commons"></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
